/************************************************
*   Big table 1200px
*************************************************/


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

   /*---------------------------
     Basic Setup
----------------------------*/

  
  html{
    font-weight: 300;
    font-size: 20px;
  }
  
  /*---------------------------
       Reusable components
  ----------------------------*/

  h1 {
    font-size: 150%;
    font-weight: 300;   
  }
  

  /*------ Headings ------*/
  
  .header-text-box h1 {
    font-size: 150%;
    margin-top: -326px;
    
  }
  
  h2{ font-size: 130%;}
  
  img { 
    max-width: 100%;
    height: auto;
   }
  
  .section1{
    background-color: #f2f2f2;
    
  }
  
  /*------ Icons ------*/
  .icon-key {
    font-size: 150%;
    margin: 5% 45% 20px ;
    text-align: center;
  }
  
  
  
  
  /********************
  *     Header
  *********************/
  
  header {
    background-size: contain;
    height: 50vh;
   background-repeat: no-repeat;
  }
  
 

  .main-nav{
    float: right;
    list-style: none;
    margin-top: -25px;
    margin-left:500px;
  }
  
  .main-nav li{
    display:inline-block;
    margin-left: -30px;
    margin-right: 50px;
  }


  .portfolio li a:link,
  .portfolio li a:visited {
  font-size: 90%;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
  padding-right: 9px; // space between the navigation bar text and underline
  }

 

/*------ Mobile Navigation ------*/

  .mobile-nav-icon { display:none; }
    

  
  
  
  /********************
  *     Footer
  *********************/
  footer{
    padding-left: 5rem;
  }
    
  .copy-right p {
    text-align: center;
    padding-right: 10rem;
  }
   
  .social-icons{
      font-size:1.3rem;
  }
  
  .social-icons li{
    display:inline-block ;
    margin-right: 1rem;
    }
  

}


/************************************************
*   Desktop 1600px
*************************************************/


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 /*---------------------------
     Basic Setup
----------------------------*/

  
html{
    font-weight: 300;
    font-size: 20px;
  }
  
  /*---------------------------
       Reusable components
  ----------------------------*/

  h1 {
    font-size: 150%;
    font-weight: 300;   
  }
  

  /*------ Headings ------*/
  
  .header-text-box h1 {
    font-size: 250%;
    margin-top: 300px;
  }
  
  h2{ font-size: 130%;}
  
  img { 
    max-width: 100%;
    height: auto;
   }
  
  .section1{
    background-color: #f2f2f2;
    
  }
  
  /*------ Icons ------*/
  .icon-key{
    font-size: 150%;
    margin: 5% 45% 20px ;
    color: #CF9999;
    text-align: center;
  }
  
 
  /********************
  *     Header
  *********************/
  
  header {
    height: 80vh;
    background-position-y:88vh;
    background-position-x: center;
  }
  
  .header-text-box{
    position:absolute;
    width: 1140px;
    top: 40%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
  }
  
  .logo {
    height:50px;
    margin-left: 350px;
    margin-top: 120px;
  }
  
  .main-nav{
    float: right;
    list-style: none;
  }

  
  .main-nav li{
    display: inline-block;
    margin-left: 60px;
    margin-right: -15px;

  }
  
  .mobile-nav-icon { display:none; }
    
  /*******************************
  *  Section 2.1 - Gallery
  ********************************/
    
  .gallery {
    margin-right: 5rem;
    margin-left: 15rem;
  }
  
  .buyer-persona {
    margin-bottom: 2%;
    padding-right: 2rem;
    margin-top: 6%;
    margin-left: 7rem;
    line-height: 2;
  }
  
    
  .buyer-title h1{
    margin-top:0rem;
  }

  
  /*******************************
  *    Section 3 - Key values
  ********************************/

  .box p{
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  
  /*****************************
  *     Section 3 - Products
  ******************************/
  
  .products-section {
        padding-bottom: 1rem; 
    }
  
  .products-section h1{
    padding-top: 3rem;
  }
  
  /*****************************
  *   Section 4 - Testimonials
  ******************************/

  .testimonials {
    background-size: cover;
    height: 85vh;
    background-attachment: fixed;
    background-position-x: center;
  }

  blockquote{
    padding: 1rem 2rem 0 2rem;
    margin-top: 3rem;
  }
  
  blockquote:before{
    content: "\201C";
    font-family:"sans-serif";
    font-size: 250%;
    display: block;
    position: absolute;
    top: -5px;
    left: 1.5rem;
  }
  
  cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
  }

  cite img{
    width: 25%;
  }

  .testimonials h1{
  margin-top: 10%;
  }
  
  .review{
    display: block;
  }
  
  /********************
  *     Footer
  *********************/
 
  .copy-right p {
    text-align: center;
    font-size: 0.8rem;
  }
  
  
  .footer-text {
    text-align: left;
  }
  
    
  .footer-nav li:last-child, 
  .social-icons li:last-child{
  margin: 0;
  }
  .footer-row{
    margin-left: 20rem;
  }
  .social-icons{
    font-size:1.3rem;
  }
  
 
  .contact-info li,  .social-icons li{
    display:inline-block ;
    margin-right: 1rem;
    }
  
}


/************************************************
*     Mobile 
*************************************************/

@media screen 
  and (min-device-width: 340px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {

/*------ Headings ------*/

.header-text-box h1 {
  font-size: 109%;
  margin-top: -75px;
  color: whitesmoke;
}

h2{ font-size: 130%;}

img { 
  max-width: 100%;
  height: auto;
 }

.section1{
  background-color: #f2f2f2;
  
}

/*------ Icons ------*/
.icon-key{
  font-size: 150%;
  margin: 5% 45% 20px ;
  text-align: center;
}




/********************
*     Header
*********************/

header {
  margin-top: 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), rgba(0, 0, 0, 0.3)),url(img/header-mobile.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-position-x: 58vh;
  
}

.header-text-box{
  top: 27%;
  left: 31%;
}



/*******************************
*    Section 1 My work
********************************/

.box {
  padding: 1%;

}
.box p{
  font-size: 90%;
  line-height: 145%;
  text-align: center;
 
}


.my-work h1{
  padding-top: 7%;
}


.my-work h2{
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 18px;
}



/********************
*     Footer
*********************/

footer{
  background-color: #171717;
  padding: 2rem;
  line-height: 150%;
  padding-left: 3rem;
  padding-right: -15rem;
}
.copy-right p {
  text-align: center;
  font-size: 0.8rem;
}

.footer-text {
  text-align: center;
}

.contact-info, .footer-nav, .social-icons {
  list-style: none;
}

.footer-nav li:last-child, 
.social-icons li:last-child{
margin: 0;
}

.social-icons{

  font-size:1.3rem;
}

.social-icons li{
  display:inline-block ;
  margin-right: 1rem;
  }




  }