/*---------------------------
     Basic Setup
----------------------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: white;
  color:#555;
  font-family: 'Open Sans','sans-serif', 'Arial';
  font-weight: 300;
  font-size: 12px;
  text-rendering:optimizeLegibility;
}

/*---------------------------
     Reusable components
----------------------------*/
.row{
  max-width: 1140px;
  margin:0 auto;
}

.nav-row {
  max-width: 1140px;
}

h1 {
  font-size: 130%;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px; 
  text-align: center;
  
}

h3{
  font-size: 100%;
  font-weight: bold;
  padding-bottom: 6%;
}
/*------ Headings ------*/

.header-text-box h1 {
  font-size: 109%;
  margin-top: -75px;
  color: whitesmoke;
}

h2{ font-size: 130%;}

img { 
  max-width: 100%;
  height: auto;
 }

.section1{
  background-color: #f2f2f2;
  
}

/*------ Icons ------*/
.icon-my-work{
  font-size: 150%;
  margin: 5% 45% 20px ;
  color: #CF9999;
  text-align: center;
}

/*------ Buttons ------*/

.button:link,
.button:visited {
display: inline-block;
padding: 5px 22px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
color: whitesmoke;
border: 1px solid #CF9999;
transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button:hover,
.button:active{
background-color: #dab2b2;
border: 1px solid #F3F4F9;
}

.button-header {
  background-color: #CF9999;
  font-weight: bolder;
}

.header-text-box-2{
  display: none;
}


/*------ Links ------*/
a:link,
a:visited{
  color: #F3F4F9;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color:#CF9999;
  border-bottom: 1px solid transparent;
}

/********************
*     Header
*********************/

header {
  margin-top: 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), rgba(0, 0, 0, 0.3)),url(img/header-pic.png);
  background-size: cover;
  background-position: center;
}

.header-text-box, .header-text-box-2 {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 .header-text-box-2 {
  position: absolute;
  width: 1140px;
  margin-top: 605px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*------ Main Navigation ------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color:whitesmoke;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
border-bottom: 2px solid #CF9999; // underline text
}


/*------ Fixed Navigation ------*/

.fixed-nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #f2f2f2;
  box-shadow: 0 2px 2px #d8d7d7ef;
  z-index:9999;
 }
 .fixed-nav .main-nav { margin-top: 18px;}
 
 .fixed-nav .main-nav li a:link,
 .fixed-nav .main-nav li a:visited {
  color:#F3F4F9;
 }

/*------ Mobile Navigation ------*/

.mobile-nav-icon {
  cursor: pointer;
  display: none;
  }

.mobile-nav-icon i {
  font-size: 200%;
  color:whitesmoke; 
  margin-left: 142px;
} 
    


/*******************************
*    Section 3 - My work
********************************/

.my-work-box  {
  padding: 1%;

}
.my-work-box  p{
  font-size: 90%;
  line-height: 145%;
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-work{
  margin-bottom: 3rem;
}

.my-work h1{
  padding-top: 2%;
}


.my-work h2{
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 18px;
}

.portfolio-list {
  background-image: url(img/team-work.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 180px;
  margin-left: 80px;

}

.portfolio li{
  list-style: none;
  text-align: center;
}

.portfolio-list ul{
  padding-top: 40px;
  line-height: 150%;
  font-size: 70%;
}


.volunteer{
  margin-left: 80px;
}


/********************
*     Footer
*********************/

footer{
  background-color: #171717;
  padding: 2rem;
  line-height: 150%;
  padding-left: 3rem;
  padding-right: 3rem;
}
.copy-right p {
  text-align: center;
  font-size: 0.8rem;
}



.contact-info, .footer-nav, .social-icons {
  list-style: none;
}

.footer-nav li:last-child, 
.social-icons li:last-child{
margin: 0;
}

.social-icons{
  font-size:1.3rem;
}

.social-icons li{
 
  margin-right: 1rem;
  }

 footer a:link,
 footer a:visited{
  color: #555;

}

footer a:hover,
footer a:active {
  color:#CF9999;
  border-bottom: 1px solid transparent;
}

