
/************************************************
*   Desktop 1600px
*************************************************/


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

 /*---------------------------
     Basic Setup
----------------------------*/
   
html{
  font-weight: 300;
  font-size: 20px;
}

/*---------------------------
     Reusable components
----------------------------*/

h1 {
  font-size: 150%;
  font-weight: 300;   
}


/*------ Headings ------*/

.header-text-box h1 {
  font-size: 250%;
  margin-top: 100px;
}

h2{ font-size: 130%;}


.section1{
  background-color: #f2f2f2;
  
}

/*------ Icons ------*/
.icon-key{
  font-size: 150%;
  margin: 5% 45% 20px ;
  color: #CF9999;
  text-align: center;
}

.main-nav{
  margin-top: 59px;
}



blockquote{
  padding: 1rem 2rem 0 2rem;
  margin-top: 3rem;
  text-align: center;
}

blockquote:before{
  content: "\201C";
  font-family:"sans-serif";
  font-size: 250%;
  display: block;
  position: absolute;
  top: -5px;
  left: 10.5rem;
}

cite{
  text-align: center;
  margin-bottom: 3rem;
}
/********************
*     Header
*********************/

header {
  height: 80vh;
  background-position-y:88vh;
  background-position-x: center;
}



.main-nav{
  float: right;
  list-style: none;
}


.main-nav li{
  display: inline-block;
  margin-left: 60px;
  margin-right: -15px;

}

.mobile-nav-icon { display:none; }
  
 
  
  /*******************************
  *    Section 3 - Key values
  ********************************/
 
  .box p{
    margin: 2rem 2rem 2rem 2rem;
  }
  
  .volunteer1-img{
    padding-left: 4rem;
    padding-top: 3rem;
  }
  /*****************************
  *     Section 3 - Products
  ******************************/
  
  .products-section {
        padding-bottom: 1rem; 
    }
  
  .products-section h1{
    padding-top: 3rem;
  }
  

  /********************
  *     Footer
  *********************/
 
  .copy-right p {
    text-align: center;
    font-size: 0.8rem;
  }
  
  
  .footer-text {
    text-align: left;
  }
  
    
  .footer-nav li:last-child, 
  .social-icons li:last-child{
  margin: 0;
  }
  .footer-row{
    margin-left: 20rem;
  }
  .social-icons{
    font-size:1.3rem;
  }
  
 
  .contact-info li,  .social-icons li{
    display:inline-block ;
    margin-right: 1rem;
    }
  
}



/************************************************
*   Big table 1200px
*************************************************/


/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

  /*---------------------------
     Basic Setup
----------------------------*/
  body { font-size: 18px; }
  header {
    height: 30vh;
    background-size: cover;
    background-position-x: 1200px;
  }

  .header-text-box{
    width: 100%;
    padding: 0 2%;
  }

  .row { padding: 0 2%; }

 
   
}



/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
  body { font-size: 18px; }
  section { padding: 60px 0; }
  
    
  
  header {
    height: 50vh;
    background-size: cover;
    background-position-x: 358px;
  }

  .header-text-box{
    display:none;
    top: 25%;
    left: 20%;
  }

  .icon-my-work { 
      width: 17px;
  }
  
  h2 { font-size: 90%; }
  
  .my-work-box { margin-top: 10px; }
  .my-work-box:last-child { margin-top: 10px; }
  
  .work-box {
      width: 100%;
      margin-left: 0%;
  }
  
  .contact-form { width: 80%; }
 
  .nav-row{
    margin-right: 30px;
  }
 
  
}



/************************************************
*     Mobile 
*************************************************/

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body { font-size: 16px; }
  section { padding: 30px 0; }

  header {
    height: 50vh;
    background-size: cover;
    background-position-x: 358px;
  }
  .header-text-box { padding-top: 50px;}
  
  .row { padding:  4%; }
  .col { 
      width: 100%;
      margin: 0 0 4% 0;
  }
  
  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
  .main-nav li {
    display: block;
}
  
  .fixed-nav  .main-nav { margin-top: 10px; }

  .fixed-nav .main-nav li a:link,
  .fixed-nav  .main-nav li a:visited { padding: 10px 0; }
  .fixed-nav  .mobile-nav-icon { margin-top: 10px; }
  .fixed-nav  .mobile-nav-icon i { color: #555; }
  
  
  
  h1 { font-size: 180%; }
  h2 { font-size: 150%; }
  
 

  .my-work-box:first-child { text-align: center; }
  
  .work-box div {
      
      margin-right: 15px;
      padding: 4px;
      font-size: 120%;
  }
  
  .work-box { margin-bottom: 20px; }
  .work-box:last-of-type { margin-bottom: 20px; }
  
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

  body { font-size: 12px; }
  section { padding: 25px 0; }
  .contact-form {width: 100%; }

  

  .header-text-box { 
    padding-top:200px;
    padding-left:30px
  }

  .main-nav { display:none;}

  .mobile-nav-icon {
    display: inline-block;
    margin-top: 30px;
    margin-left: 142px;
  }
  .main-nav {
      float: left;
      margin-top: 30px;
      margin-left: 10px;
  }
  
  .main-nav li {
    display: block;
  }
   
  .main-nav li a:link,
  .main-nav li a:visited {
      display: block;
      border: 0;
      padding: 5px 0;
      font-size: 100%;
  }
  
/*------ Fixed Navigation ------*/

.fixed-nav .main-nav {
 margin-top: 10px;
}

 .fixed-nav .main-nav li a:link,
 .fixed-nav .main-nav li a:visited {
  color:#F3F4F9;
 }

 /********************
*     Footer
*********************/

footer{
   padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.social-icons li{
  display: inline-block;
  margin-right: 0px;
  margin-right: 10px;
  }


}